<%- include( './partials/header.ejs' ); -%>
<body>
    <h1>Welcome to Cara's Journal</h1>
    <p style="margin-bottom: 50px;"><%= showContent %></p>
    
    <div>
    
    <% showPost.forEach(post => { %> 
        <h3><%= post.title %></h2> 
        <p class="publishDate"> <%= post.time %> </p>
        <p><%= post.content.substring(0,100)+" ... " %><a href="<%= `/posts/${post.id}` %>">Read more</a></p>
        <form action="/" method="post">
            <button type="submit" name="deleteBtn" value="<%= post._id %>" class="btn btn-primary">Delete</button>
        </form>
        <hr>
    <% }) %>
    
    </div>

</body>
<%- include( './partials/footer.ejs' ); -%>
